@tailwind base;
@tailwind components;
@tailwind utilities;

.err-msg {
  margin-top: 4px !important;
}

* {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
  background-color: #E9ECEF;
}
.react-datepicker-wrapper {
  width: 100%;
}

.custom-toast {
  width: 100%;
  max-width: 70vw;
  margin: auto;
}

@media (min-width: 640px) {
  .custom-toast {
    max-width: 300px;
  }
}
